/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
//bootstrap variables override
$brand-primary: #FFAD0F;
$brand-secondary: #11E2F0;
$brand-success: #5CB85C; //Irene's swatch doesn't have a good green. using bootstrap default for now
$brand-info: #4A90E2;
$brand-warning: #FFAD0F;
$brand-danger: #E24A29;
$icon-font-path: "../../assets/fonts/bootstrap/";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.thumbnail {
  height: 200px;
  img.pull-right {
    width: 50px;
  }
}
.jumbotron {
  img {
    width: 16vh;
  }
  background-color: $gray-light;
  color: #fff;
}
/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
